.logo
{
    display: inline-block;
    color: #C9C9C9;
    margin: 0;
    margin-right: -10px;
    font: 32px/1 Monaco;
    text-align: center;
    float: right;
}
.logo .var
{
    color: #66C9EE;
}

.logo .ya
{
    color: #82B964;
}

.logo .cursor
{
    color: #D24D33;
}
