.prompting
{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 9%;
    display: block;
    background: lightblue;
}

.prompting:before {
  content: '';
  width: 5em;
  display: block;
  height: 0;
}
