.b-page__body
{
    margin: 0;
    text-align: center;

    background-color: #f6f6f6;
    background-image:
        -webkit-radial-gradient(50% 50%, circle, transparent 5px, rgba(0,0,0, .07) 5px, rgba(0,0,0, .07) 6px, transparent 6px),
        -webkit-radial-gradient(50% 50%, circle, transparent 3px, rgba(0,0,0, .07) 3px, rgba(0,0,0, .07) 4px, transparent 4px);
    background-size:
        20px 20px,
        13px 11px;
}
