/* Icons: http://www.iconarchive.com/show/simple-icons-by-danleech.1.html */
.social-ico__ico
{
    width: 48px;
    height: 48px;
    display: block;
    margin: .5em 0 0 auto;
    border-radius: 50%;
}

.social-ico__rss
{
    background: url(__rss/social-ico__rss.png);
    display: none;
}

.social-ico__github
{
    background: url(__github/social-ico__github.png);
}

.social-ico__twitter
{
    background: url(__twitter/social-ico__twitter.png);
}

.social-ico__facebook
{
    background: url(__facebook/social-ico__facebook.png);
}

.social-ico__linkedin
{
    background: url(__linkedin/social-ico__linkedin.png);
}
